# Build

/examples/build/*
!/examples/build/assets/
!/examples/build/SDL2.dll
!/examples/build/wgpu_native.dll

# Bin

# *.o

# Sublime Text

*.sublime-workspace

# vs code

/.vscode/*.log

# logs
/tmp

**/.DS_Store
