# Build

/examples/build/*
!/examples/build/assets/
bindings/lib/**/*.lib
bindings/lib/**/*.dll
bindings/lib/**/*.a
bindings/lib/**/*.dylib

# Bin

# *.o

# Sublime Text

*.sublime-workspace

# vs code

/.vscode/*.log

# logs
/tmp

# Mac

**/.DS_Store

# Ols
ols.json
