# Build
*.lib
*.dll
*.pdb
*.a
*.dylib
*.exe
*.so
*.obj
*.o
*.exp
*.ilk
*.res
*.manifest

build
examples/build
!examples/build/assets

# Keep obj models in this folder
!/utils/tobj/**/*.obj

# IDE/Editor
/.vscode
!/.vscode/launch.json
!/.vscode/tasks.json
*.sublime-workspace
*.code-workspace
.idea/
*.swp
*.swo

# Logs and temp
/tmp
*.log

# OS
**/.DS_Store
Thumbs.db
desktop.ini

# Project specific
ols.json
